@{
    Layout = "_Layout";
}
<!-- Products Section Start -->
<section id="products" class="section">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.2s">Các chương trình</h2>
            <hr class="lines wow zoomIn" data-wow-delay="0.2s">
            <p class="section-subtitle wow fadeIn" data-wow-duration="1000ms" data-wow-delay="0.2s"><strong>Seoul</strong> sẽ không ngừng theo đuổi để hiện thực hóa tầm nhìn của mình thông qua việc ngày càng làm tốt hơn nữa công việc đào tạo ngoại ngữ tại Việt Nam. Đồng thời liên kết hợp tác với các doanh nghiệp cung cấp nguồn nhân lực cho các doanh nghiệp Hàn Quốc tại Việt Nam cũng như đưa du học sinh Việt Nam đến học tập tại các trường đại học tại Hàn Quốc.</p>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.2s">
                    <div class="icon">
                        <i class="lnr lnr-graduation-hat"></i>
                    </div>
                    <h4>Du Học Hệ Đại Học</h4>
                    <p>
                        Du học hệ Đại Học Hàn Quốc là chương trình giành cho các học sinh, sinh viên tốt nghiệp từ THPT trở lên. Các em học sinh sẽ học ngôn ngữ tại Viện Ngôn Ngữ của Đại Học cho đến khi đạt topik 3 sẽ đủ điều kiện nhập học hệ Đại Học Hàn Quốc, sau đó mới bắt đầu học chuyên ngành của hệ Đại Học.
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.3s">
                    <div class="icon">
                        <i class="lnr lnr-briefcase"></i>
                    </div>
                    <h4>Du Học Hệ Thạc Sĩ</h4>
                    <p>Du học Thạc Sĩ là chương trình giành cho các Sinh Viên đã tốt nghiệp Đại Học Việt Nam, với mong muốn học tiếp lên Thạc Sĩ ở các trường Đại Học Quốc tế.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                    <div class="icon">
                        <i class="lnr lnr-train"></i>
                    </div>
                    <h4>Du Học Nghề</h4>
                    <p>Du Học Nghề là chương trình đào tạo nghề. Học sinh tham gia có thể vừa đi học vừa đi làm (thực hành có lương), với thời gian đào tạo 2 năm tại một trường nghề. Sau khi tốt nghiệp trường nghề có quyền được chuyển visa sang diện visa Kỹ Sư và tiếp tục sinh sống và làm việc cho các công ty tại nước sở tại.</p>
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div class="item-boxes wow fadeInDown" data-wow-delay="0.4s">
                    <div class="icon">
                        <i class="lnr lnr-earth"></i>
                    </div>
                    <h4>Trung Tâm Ngoại Ngữ</h4>
                    <p>
                        Trung Tâm Ngoại Ngữ Seoul là địa điểm đào tạo, hướng dẫn về ngôn ngữ các nước cho du học sinh trước khi đi du học. Seoul hiện có các trung tâm học tập tiếng Hàn hiện đại tại các thành phố lớn ở Việt Nam.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Products Section End -->
<!-- Start Condition Table Section -->
<div id="condition" class="section condition-background">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Điều kiện và lộ trình</h2>
            <hr class="lines">
        </div>

        <div class="row pricing-tables">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Điều Kiện Du Học</h2>
                        <ul>
                            <li>1. Cần tốt nghiệp THPT</li>
                            <li>2. Cần chuẩn bị hồ sơ giấy tờ đẩy đủ</li>
                            <li>3. Cần chuẩn bị tài chính tốt</li>
                            <li>4. Sức khỏe đạt tiêu chuẩn</li>
                            <li>5. Cần chuẩn bị về ngoại ngữ</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#contact" class="btn btn-common">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Hồ Sơ Thủ Tục</h2>
                        <ul>
                            <li>1. Học bạ / bằng cấp gốc THPT + Ảnh thẻ 12 chiếc 4x6 và 3x4</li>
                            <li>2. Hộ chiếu</li>
                            <li>3. CMND của Bố / Mẹ / Học sinh</li>
                            <li>4. Sơ yếu lý lịch + Sổ hộ khẩu</li>
                            <li>5. Sổ tiết kiệm ngân hàng + Sổ đỏ (nếu có)</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#contact" class="btn btn-common">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Điều Kiện Tài Chính</h2>
                        <ul>
                            <li>Top 1%: Yêu cầu giấy xác nhận sổ tiết kiệm 10,000$ trước 6 tháng</li>
                            <li>Top 2%: Yêu cầu sổ gốc tiết kiệm 10,000$ trong tài khoản ngân hàng Việt Nam trước 6 tháng</li>
                            <li>Top 3%: Yêu cầu sổ 10,000$ nộp tại ngân hàng Hàn Quốc ở Việt Nam</li>
                            <li><strong>*** Chú ý</strong>: Một số trường yêu cầu cọc chống trốn từ 3000$ ~ 5000$</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#contact" class="btn btn-common">Liên hệ</a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12 mt-3">
                <div class="pricing-table">
                    <div class="pricing-details">
                        <h2>Lộ Trình</h2>
                        <ul>
                            <li>Bước 1: Nhập học và học tiếng tại trung tâm từ 3 đến 6 tháng đến lúc bay</li>
                            <li>Bước 2: Trong thời gian vừa học, công ty sẽ chuẩn bị hồ sơ và gửi xin Thư mời từ trường Đại Học</li>
                            <li>Bước 3: Nhận Thư mời hoặc Code xong gửi hồ sơ nộp xin Visa</li>
                            <li>Bước 4: Nhận Visa và chờ bay</li>
                        </ul>
                    </div>
                    <div class="plan-button">
                        <a href="#contact" class="btn btn-common">Liên hệ</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Condition Table Section -->
<!-- Portfolio Section -->
<section id="portfolios" class="section">
    <!-- Container Starts -->
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Thư viện ảnh</h2>
            <hr class="lines">
        </div>
        <div class="row">
            <div class="col-md-12">
                <!-- Portfolio Controller/Buttons -->
                <div class="controls text-center">
                    <a class="filter active btn btn-common" data-filter="all">
                        Tất cả
                    </a>
                    <a class="filter btn btn-common" data-filter=".hoc-vien">
                        Học viên
                    </a>
                    <a class="filter btn btn-common" data-filter=".hoat-dong">
                        Hoạt động
                    </a>
                </div>
                <!-- Portfolio Controller/Buttons Ends-->
            </div>

            <!-- Portfolio Recent Projects -->
            <div id="portfolio" class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="~/img/portfolio/hoc-vien1.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien1.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien2.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien2.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien3.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien3.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien4.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien4.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien5.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien5.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien6.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien6.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien7.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien7.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien8.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien8.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien9.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien9.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoc-vien">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoc-vien10.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoc-vien10.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-1.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-1.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-2.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfoliohoat-dong-2.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-3.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-3.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-4.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-4.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-5.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-5.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-6.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-6.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-7.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-7.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 col-lg-3 col-xl-3 mix hoat-dong">
                    <div class="portfolio-item">
                        <div class="shot-item">
                            <img src="img/portfolio/hoat-dong-8.jpg" alt="duhocseoul.com" />
                            <a class="overlay lightbox" href="img/portfolio/hoat-dong-8.jpg">
                                <i class="lnr lnr-eye item-icon"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Container Ends -->
</section>
<!-- Portfolio Section Ends -->
<!-- FAQ Section Start -->
<section id="faq" class="section" data-stellar-background-ratio="0.2">
    <div class="container">
        <div class="section-header">
            <h2 class="section-title">Câu hỏi thường gặp</h2>
            <hr class="lines">
        </div>
        <div class="row">
            <div class="col-lg-8 col-md-12 col-xs-12">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-star"></i>
                            </span>
                            <div class="text">
                                <h4>Tại sao nên chọn du học?</h4>
                                <p>
                                    <ol>
                                        <li>Du học giúp tăng khả năng ngoại ngữ. </li>
                                        <li>Du học giúp mở rộng góc nhìn thế giới.</li>
                                        <li>Du học giúp được giao lưu với bạn bè quốc tế.</li>
                                        <li>Du học có cơ hội định cư tại nước ngoài.</li>
                                        <li>Du học giúp bạn dễ tìm kiếm việc làm với mức lương cao hơn.</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-graduation-hat"></i>
                            </span>
                            <div class="text">
                                <h4>Ưu Điểm Du Học Hệ Đại Học Là Gì?</h4>
                                <p>
                                    <ol>
                                        <li>Có tấm bằng quốc tế.</li>
                                        <li>Có thêm bằng ngoại ngữ.</li>
                                        <li>Có cơ hội định cư nước ngoài.</li>
                                        <li>Dễ tìm việc khi tốt nghiệp.</li>
                                        <li>Được lương cao hơn so với tốt nghiệp ở trong nước.</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-train"></i>
                            </span>
                            <div class="text">
                                <h4>Ưu Điểm Du Học Nghề là gì?</h4>
                                <p>
                                    <ol>
                                        <li>Được vừa đi học, vừa đi làm.</li>
                                        <li>Có thể chuyển sang visa kỹ sư "E7" khi tốt nghiệp.</li>
                                        <li>Được giới thiệu việc làm sau khi tốt nghiệp.</li>
                                        <li>Được hưởng chế độ lương cao.</li>
                                        <li>Có cơ hội định cư sau khi tốt nghiệp.</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-sm-6 col-xs-12 box-item">
                            <span class="icon">
                                <i class="lnr lnr-license"></i>
                            </span>
                            <div class="text">
                                <h4>Lý Do Nên Chọn Trung Tâm Ngoại Ngữ Du Học Seoul?</h4>
                                <p>
                                    <ol>
                                        <li>Có 5 năm kinh nghiệm chuyên về du học.</li>
                                        <li>Liên kết trực tiếp với các trường đại học nước ngoài.</li>
                                        <li>Chi phí thấp và nhiều ưu đãi, tỷ lệ đạt visa 99%.</li>
                                        <li>Đa dạng du học các nước, được tư vấn / giới thiệu việc làm khi về nước.</li>
                                        <li>Cơ sở vật chất chất lượng cao, giáo viên nước ngoài trực tiếp đào tạo.</li>
                                    </ol>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-xs-12">
                <div class="show-box">
                    <img class="img-fulid" src="img/features/feature.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQ Section End -->
<!-- Counter Section Start -->
<div class="counters section" data-stellar-background-ratio="0.5">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-clock"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">5</span></h3>
                        <h4>Kinh nghiệm</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-briefcase"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">6</span></h3>
                        <h4>Quốc gia du học</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-user"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">39</span></h3>
                        <h4>Trường đối tác</h4>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3">
                <div class="facts-item">
                    <div class="icon">
                        <i class="lnr lnr-heart"></i>
                    </div>
                    <div class="fact-count">
                        <h3><span class="counter">1568</span></h3>
                        <h4>Hồ sơ thành công</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Counter Section End -->